/*
***** Preamble.
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-text: black;
    --color-text-secondary: gray;
    --color-background: white;
    --color-container-background: lightgray;
    --color-button-primary: green;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: white;
        --color-text-secondary: gray;
        --color-background: rgb(31, 31, 31);
        --color-container-background: lightgray;
        --color-button-primary: green;
    }
}

/*
***** General.
*/

/* * {
    outline: 1px solid red !important;
} */

body {
    background-color: var(--color-background);
}

main {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    color: var(--color-text);
}

img.logo {
  content: url("logo-black.png");
}

@media (prefers-color-scheme: dark) {
  img.logo {
    content: url("logo-white.png");
  }
}

#header img {
  width: 150px;
}

#sync-header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#parent_post:empty {
  display: none
}

#form-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid currentColor;
    border-radius: 1rem;
    padding: 1rem;
}

#form-section h3 {
    font-weight: 500;
    font-size: 1.1rem;
}

#form-section form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#form-section input[name='title'] {
    height: 5rem;
}

#list-section {
    display: flex;
    flex-direction: column;
}

#list-header {
    font-size: 1.4rem;
    font-weight: 600;
}

#post_list {
    display: flex;
    flex-direction: column;
}

.post {
    margin-bottom: 1rem;
}

.post-container {
    border: 1px solid currentColor;
    border-radius: 7.5px;
    padding: 1rem;
}

ul .post-container {
    cursor: pointer;
}

ul .post-container:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.reply {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.reply-container {
    border: 1px solid var(--color-container-background);
    padding: 1rem;
    border-radius: 7.5px;
}

#list-section form {
    margin-left: 1rem;
    margin-top: 0.5rem;
    padding: 1rem;
    border: 1px solid currentColor;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#list-section h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

#list-section input[name='title'] {
    height: 5rem;
}

.post-container,
.reply-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.post-author,
.reply-author {
    font-weight: 600;
}

.post-date,
.reply-date {
    color: var(--color-text-secondary);
}

button {
    all: unset;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid currentColor;
    border-radius: 7.5px;
    align-self: flex-start; /* Prevent button from growing to full width of column-directed flex container. */
}

button.primary {
    background-color: var(--color-button-primary);
}
