<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:hx-on="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ditto Spring Tasks Quickstart</title>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/reset-css@5.0.2/reset.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="https://unpkg.com/htmx-ext-sse@2.2.2"></script>
</head>

<body>
<main>
  <div id="header">
    <div id="title">Diddit</div>
  </div>
  <div id="sync-header">
            <span id="sync_state" hx-ext="sse" sse-connect="/ditto/sync/state" sse-swap="sync_state">
                Sync State: True
            </span>
    <button type="button" hx-post="/ditto/sync/toggle" hx-swap="none">
      Toggle
    </button>
  </div>

  <div id="form-section">
    <h3>Add new Post</h3>
    <form hx-post="/tasks"
          hx-encoding="multipart/form-data"
          hx-target="#list-section"
          hx-swap="innerHTML"
          hx-on::after-request="if(event.detail.successful) this.reset()"
          onsubmit="addCredentials(this)">

      <input type="hidden" name="username" />
      <input type="hidden" name="password" />
      <input type="text" name="title" placeholder="New Post" required />

      <div style="margin-top: 10px;">
        <input type="file" name="file" />
      </div>

      <button type="submit" class="primary" style="margin-top: 10px;">Add Post</button>
    </form>
  </div>

  <h2 id="list-header">Posts</h2>
  <div id="list-section" hx-ext="sse" sse-connect="/tasks/stream" sse-swap="task_list">
    <div th:replace="fragments/taskList :: taskListFrag(${tasks})"></div>
  </div>
</main>

<script>
  function addCredentials(form) {
    form.username.value = localStorage.getItem("username");
    form.password.value = localStorage.getItem("password");
  }

  // Event delegation for dynamically loaded content
  document.addEventListener('click', function (event) {
    if (event.target.matches('[data-reply-button]')) {
      const postId = event.target.getAttribute('data-post-id');
      loadReplyForm(postId);
    }
  });

  function loadReplyForm(postId) {
    console.log('Reply button clicked for post:', postId);
    const targetElement = document.getElementById('reply_form_' + postId);
    if (!targetElement) return;

    fetch('/tasks/replyForm?_id=' + postId)
            .then(response => {
              if (!response.ok) throw new Error('HTTP error ' + response.status);
              return response.text();
            })
            .then(html => {
              targetElement.innerHTML = html;
            })
            .catch(error => console.error('Error loading reply form:', error));
  }
</script>
</body>
</html>