<!DOCTYPE html>
<html lang="en" xmlns:hx-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link href="https://unpkg.com/reset-css@5.0.2/reset.css" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="logo-black.png" rel="icon" type="image/png" />
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="https://unpkg.com/htmx-ext-sse@2.2.2"></script>
  <script src="script.js"></script>
  <script>redirectToLogin(true);</script>
</head>

<body>
  <main>
    <div id="header">
      <img class="logo">
    </div>

    <div id="sync-header">
      <span hx-ext="sse" id="sync_state" sse-connect="/ditto/sync/state" sse-swap="sync_state">
        Sync State: True
      </span>
      <button class="button" hx-post="/ditto/sync/toggle" hx-swap="none" type="button">
        Toggle
      </button>
    </div>

    <div id="account">
      <span id="username"></span>
      <button class="button" onclick="logout();">Sign out</button>
    </div>

    <a id="grandparent" href=""></a>

    <div class="button" id="parent_post"></div>

    <div id="post-form">
      <form hx-encoding="multipart/form-data" hx-on::after-request="if(event.detail.successful) this.reset()"
        hx-post="/posts/new" hx-swap="none" onsubmit="addCredentials(this)">
        <input name="username" type="hidden" />
        <input name="password" type="hidden" />
        <input name="parent" th:attr="value=${parent}" type="hidden" />
        <textarea name="title" placeholder="Message" required></textarea>
        <div style="margin-top: 10px;">
             <input name="file" type="file" 
             onchange="if(this.files[0].size > 5242880) { alert('File is too large! Max 5MB'); this.value=''; }" />
        </div>
        <button class="button primary" style="margin-top: 10px;" type="submit">
          <span th:text="${parent != null and parent != ''} ? 'Add reply' : 'Add post'"></span>
        </button>
      </form>
    </div>

    <div id="filter-button">
      <select hx-get="/posts/filter" hx-swap="innerHTML" hx-target="#post_list" hx-trigger="change" id="filter"
        name="filter"
        onchange="if(this.value === '') document.getElementById('sse-container').style.display='block'; else document.getElementById('sse-container').style.display='none';">
        <option value="time_desc">Newest first</option>
        <option value="time_asc">Oldest first</option>
        <option value="likes_desc">Most liked</option>
        <option value="likes_asc">Least liked</option>
      </select>
    </div>

    <ul id="post_list"></ul>

    <div id="sse-container">
      <div hx-ext="sse" sse-swap="post_list" style="display:none;"
        th:attr="sse-connect=@{/posts/stream(parent=${parent})}"></div>
    </div>
  </main>

  <script>
    document.getElementById('username').textContent = localStorage.getItem('username');
  </script>

</body>

</html>
