<th:block th:fragment="postListFrag(posts)">
  <a hx-swap-oob="true" th:if="${parent != null}" id="grandparent" class="button"
    th:href="'/posts?parent=' + ${parent.parent != null ? parent.parent : ''}">
    Up
  </a>
  <div hx-swap-oob="true" id="parent_post" th:if="${parent != null}">
    <div th:replace="~{fragments/postContainer :: postContainer(${parent})}"></div>
  </div>
  <ul hx-swap-oob="true" id="post_list">
    <div th:each="item : ${posts}">
      <div class="post" th:if="${item.parent == parent_id}">
        <div th:replace="~{fragments/postContainer :: postContainer(${item})}"></div>
      </div>
    </div>
  </ul>
  <th:block th:fragment="postListContent">
    <div th:each="item : ${posts}">
      <div class="post" th:if="${item.parent() == ''}">
        <div th:replace="~{fragments/postContainer :: postContainer(${item})}"></div>
      </div>
    </div>
  </th:block>
</th:block>
