<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="replyFrag">
    <li>
        <div>
            <b th:text="${reply.author_id}"></b>
            <span th:text="${#dates.format(new java.util.Date(reply.time * 1000L), 'dd.MM.yyyy HH:mm')}"></span>
        </div>
        <div th:text="${reply.text}"></div>
        <div th:if="${reply.parent != null && reply.parent != ''}">
            <small>Reply to: <span th:text="${reply.parent}"></span></small>
        </div>
    </li>
</div>
</html>