<ul id="task_list" th:fragment="taskListFrag (tasks)">

    <h2>Posts</h2>
    <li th:each="item : ${tasks}">
        <div>
            <b th:text="${item.author_id}"></b>

            <span th:text="${#dates.format(new java.util.Date(item.time * 1000L), 'dd.MM.yyyy HH:mm')}"></span>
            <!--<span th:text="${#dates.format(item.time * 1000, 'dd.MM.yyyy HH:mm')}"></span> -->
        </div>

        <div th:text="${item.text}"></div>

        <div th:if="${item.parent != null && item.parent != ''}">
            ↳ replying to post <span th:text="${item.parent}"></span>
        </div>

        <button type="submit">Reply</button>

    
    </li>
</ul>
